*.swp
*.swo
*~

/keytransparency-server
/keytransparency-sequencer
/keytransparency-client

infra*.etcd
genfiles/*
.keytransparency-scts.dat
.keystore
.keyset
travis_secrets.tar.gz
service_key.json
client_secret*.json
coverage.txt
