*.swp
*.swo
*~

/keytransparency-server
/keytransparency-signer
/keytransparency-client

infra*.etcd
genfiles/*
.keytransparency-scts.dat
.keystore
travis_secrets.tar.gz
service_key.json
client_secret*.json
