*.swp
*.swo
*~

/keytransparency-server
/keytransparency-signer
/keytransparency-client

infra*.etcd
genfiles/*
.keytransparency-scts.dat
.keystore
credentials.tar.gz
service_key.tar.gz
service_key.json
client-secret.json
