[project]
	description = Key Server for End to End
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Gary Belvin (gdbelvin)
[access "refs/for/refs/*"]
	read = group user/Gary Belvin (gdbelvin)
	push = group user/Gary Belvin (gdbelvin)
	label-Code-Review = -2..+2 group user/Gary Belvin (gdbelvin)
	label-Verified = -1..+1 group user/Gary Belvin (gdbelvin)
	rebase = group user/Gary Belvin (gdbelvin)
	removeReviewer = group user/Gary Belvin (gdbelvin)
	submit = group user/Gary Belvin (gdbelvin)
[access "refs/heads/*"]
	read = group user/Gary Belvin (gdbelvin)
	create = group user/Gary Belvin (gdbelvin)
	push = +force group user/Gary Belvin (gdbelvin)
	pushMerge = group user/Gary Belvin (gdbelvin)
[access "refs/tags/*"]
	push = +force group user/Gary Belvin (gdbelvin)
	pushTag = group user/Gary Belvin (gdbelvin)
	pushSignedTag = group user/Gary Belvin (gdbelvin)
